{% extends "template.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/division_style.css') }}">
{% endblock %}
{% block content %}
    <form id="division-form">
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="button" id = "submit-form" value="Apply for group" id="add_button">
    </form>
{% endblock %}
