<!--
FILE NAME: pig/templates/apply_group.html
WRITTEN BY: Daniel Romanich
WHEN: February 2017
PURPOSE: Provide a way for users to apply for a group in an instance of a divisions

------------------------------- WORK IN PROGRESS------------------------------------
-->


{% extends "template.html" %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
    {% if message is not none %}
        <p>{{message}}</p>
    {% endif %}
    {% if message is none %}
        <form id="division-form">
            <select>
                {% for i in range(1, 11) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <input type="button" id = "submit-form" value="Apply for group" id="add_button">
        </form>
    {% endif %}
{% endblock %}



