{% extends "template.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/division_style.css') }}">
{% endblock %}
{% block content %}
    <form id="division-form" method="post">
        <input type= "text" name= "Division" placeholder= "Divisjonsnavn">
        <input type="button" value="Add parameter" id="add_button">
        <input type="submit" id = "submit-form" value="Create division">
    </form>
{% endblock %}
{% block bottom %}
    <script src="{{ url_for('static', filename='js/division.js') }}"></script>
{% endblock %}