<!--
FILE NAME: pig/templates/index.html
WRITTEN BY: Daniel Romanic, Marius Aarsnes
WHEN: February 2017
PURPOSE: A frontpage that informs the user of what PIG is.
-->

{% extends "template.html" %}
{% block content %}

<style>


    p {
        font-size: 18px;
        padding-right: 40px;
        text-align: justify;
        color: black;
        min-height: 120px;
    }
</style>

<div class="mdl-card login-form mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">What Is PIG?</h2>
    </div>

    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <div>
            <p id="description">
                PIG is a service that allows you to partition people into groups. PIG lets you define what parameters you want to divide by, and lets the users answer the parameters from a predefined scale.
            </p>
        </div>
    </div>
</div>  

<div class="mdl-card login-form mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Why Use PIG?</h2>
    </div>

    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">

        <div>

            <p id="description">
                PIG makes it easy to divide your students into groups as optimally as possible. This means that you need not use valuable time dividing into well-fitted groups, PIG does it for you!
            </p>
        </div>
    </div>
</div>
<div class="mdl-card login-form mdl-cell mdl-cell--12-col mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">How Do You Use PIG?</h2>
    </div>

    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">

        <div>


            After registering, this is the functionality for the types of users:
            <br><br>
            <b>Professor</b>
            <ul>
                <li>Create a division - Add as many parameters as you want. When you are finished, click "Create Division". </li>
                <li>View your divisions - Find links to distribute to your students and teacher assistant. View division info.</li>
                <li>View division info - Here you can see the groups for your division, students withou a group, and run the group division.</li>
            </ul>



            <b>Teaching Assistant</b>
            <ul>
                <li>Receive a link from your professor to sign up for a division as a Teacher Assistant. </li>
                <li>View your groups - Here you can view the groups your are a teacher assistant for. </li>

            </ul>


            <b>Student</b>
            <ul>
                <li>Receive a link from your professor to sign up for a division as a Student. </li>
                <li>View your groups - Here you can view the groups you have been placed in for all divisions. </li>

            </ul>


        </div>
    </div>
</div>

{% endblock %}
