<!--
FILE NAME: pig/templates/index.html
WRITTEN BY: Daniel Romanic, Marius Aarsnes
WHEN: February 2017
PURPOSE: A frontpage that informs the user of what PIG is.
-->

{% extends "template.html" %}
{% block content %}

<style>


    p {
        font-size: 18px;
        padding-right: 40px;
        text-align: justify;
        color: black;
        min-height: 120px;
    }
</style>

<div class="mdl-card login-form mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Hva er er PIG?</h2>
    </div>

    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <div>
            <p id="description">PIG er et system som kan dele personer inn i grupper. Den lar en leder definere hva slags paremetere man har lyst å dele etter, og lar brukere selv svare på parameteren(e) på en skala fra 1-10.</p>
                        <p id="description">PIG er et system som kan dele personer inn i grupper. Den lar en leder definere hva slags paremetere man har lyst å dele etter, og lar brukere selv svare på parameteren(e) på en skala fra 1-10.</p>

                        <p id="description">PIG er et system som kan dele personer inn i grupper. Den lar en leder definere hva slags paremetere man har lyst å dele etter, og lar brukere selv svare på parameteren(e) på en skala fra 1-10.</p>
        </div>

    </div>

</div>  

<div class="mdl-card login-form mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Hvorfor bruke PIG?</h2>
    </div>

    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">

        <div>

            <p id="description">PIG gjør det mulig å dele inn i grupper så optimalt som mulig. Dette betyr at man slipper å bruke dyrebar tid på å dele inn i relativt gode grupper, fordi systemet gjør det for deg.</p>
        </div>
    </div>
</div>

{% endblock %}
