<head>
    <title>PIG-Partition Into Groups</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main_style.css') }}">
</head>

<body>
    <container>
        <header>
            <header-content>
                <img src="{{ url_for('static', filename='img/pig_logo.png') }}" id="logo"><a>PIG</a>
            </header-content>
        </header>
        <sidebar>
            <side-text>
                <p id="navigasjon">Navigasjon</p>
                <a href="{{ url_for('home') }}" id="sidebar-option">Hjem</a>
                <a href="{{ url_for('login') }}" id="sidebar-option">Login</a>
                <a href="{{ url_for('create_division') }}" id="sidebar-option">Create division</a>
                <a href="{{ url_for('apply_group') }}" id="sidebar-option">Apply for group</a>
            </side-text>    
        </sidebar>
        <main>
            <main-content>
                <h2>Hva er pig?</h2>
                <p>PIG er et system som kan dele personer inn i grupper. Den lar en leder definere hva slags paremetere man har lyst å dele etter, og lar brukere selv svare på parameteren(e) på en skala fra 1-10.</p>
                <h2>Hvorfor bruke PIG?</h2>
                <p>PIG gjør det mulig å dele inn i grupper så optimalt som mulig. Dette betyr at man slipper å bruke dyrebar tid på å dele inn i relativt gode grupper, fordi systemet gjør det for deg.</p>
            </main-content>
        </main>
        <footer>
            <footer-content>
                <p>Made with love by, Marius, Daniel, Sebastian and Erlend</p>
            </footer-content>
        </footer>
    </container>
</body>