{% extends "template.html" %}
{% block head %}
    {{super()}}
    
{% endblock %}
{% block content %}

  <style>
      .mdl-card {
          align-content: right;
          
      }

</style>
    <div class="mdl-card"> 
        <div class="mdl-card__title">Login</div>
        <form id="login-form" method="post">
            <div class="mdl-textfield mdl-js-textfield">
            {% if error %}
                <p id="error">Invalid username or password</p>
            {% endif %}
            <label class="mdl-textfield__label" for="Username">Email: </label>
            <input class="mdl-textfield__input" type = "text" name = "Username" placeholder= "Email">
            <label class="mdl-textfield__label" for="Password">Password:</label>
            <input class="mdl-textfield__input" type = "password" name = "Password" placeholder = "Password">
                
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" name="Login" id="button">Login</button>

        </form>
    </div>
    

{% endblock %}
