{% extends "template.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/login_style.css') }}">
{% endblock %}
{% block content %}
    <main-content style="width: 100%; min-width: 250px; margin-top: 10%;">
        <form id="login-form" method="post">
            <label for="Username">Username: </label>
            <input type = "text" name = "Username" placeholder= "Username">
            <label for="Password">Password:</label>
            <input type = "password" name = "Password" placeholder = "Password">
            <button type="submit" name="Login" id="button">Login</button>
        </form>
    </main-content>
{% endblock %}
