<!--
FILE NAME: pig/templates/message.html
WRITTEN BY: Erlend Hofstad Langseth
WHEN: March 2017
PURPOSE: Show a message to the user.
-->

{% extends "template.html" %}
{% block head %}
{{super()}}

{% endblock %}
{% block content %}
<div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title showdivisions mdl-color--primary mdl-color-text--white" id="showdivisions">
        <h2 class="mdl-card__title-text">{{ header }}</h2>
    </div>
    <p class="message">{{ message }}</p>
</div>


{% endblock %}
