<!--
FILE NAME: pig/templates/show_divisions.html
WRITTEN BY: Marius Aarsnes
WHEN: March 2017
PURPOSE: Provide a page where users can view all the pages that they are currently being a leader of.
-->
{% extends "template.html" %}
{% block content %}

    {% if divisions == None %}
            <div class="mdl-card__title showgroupsleader mdl-color--primary mdl-color-text--white" id ="showgroupsleader_no_divisions">
                <h3>You are not signed up as leader for any division</h3>
            </div>
    {% else  %}

        {% for division in divisions %}
            <div class="mdl-card showgroupsleader mdl-cell mdl-cell--6-col mdl-shadow--6dp">
                <div class="mdl-card__title showgroupsleader mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">{{ division.name }}</h2>
                </div>

                <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                    <div>
                        {% for group in division.groups  %}
                            {% if (group.leader_id == current_user.id) %}
                                <table class="mdl-data-table mdl-js-data-table">
                                    <tr>
                                        <th>{{ group.id }}</th>
                                    </tr>
                                    {% for member in group.users.all() %}
                                        <tr>
                                            <td>{{ member.firstname + " " + member.lastname }}</td>
                                            <td>{{ member.email }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- Hvis det ikke er her, men bare 'bottom' block, lastes det ikke for meg -->
        <script src="{{ url_for('static', filename='js/clipboard_copy.js') }}"></script>
    {% endif %}
{% endblock %}
<!--
{% block bottom %}
{% endblock %}
-->
