<!--
FILE NAME: pig/templates/show_divisions.html
WRITTEN BY: Marius Aarsnes
WHEN: February 2017
PURPOSE: Provide a page where users can view all the divisions they are signed up for.
-->
{% extends "template.html" %}
{% block content %}
    <h1>You are signed up for these divisions:</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Owner</th>
        </tr>
        {%  for division in divisions %}
            <tr>
                <td>{{ division.name }}</td>
                <td>{{division.creator_id }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
