<!--
FILE NAME: pig/templates/show_divisions.html
WRITTEN BY: Marius Aarsnes
WHEN: February 2017
PURPOSE: Provide a page where users can view all the divisions they are signed up for.
-->
{% extends "template.html" %}
{% block content %}
    <div>
        <h1>Your divisions:</h1>
        <table id="show_divisions_created_table">
            <tr>
                <th>Name</th>
                <th>Teamleader Signup link</th>
                <th>Teammember Signup link</th>
            </tr>
            {%  for division in divisions_created %}
                <tr>
                    <td>{{ division.name }}</td>
                    <td><a href="{{ ta_links[loop.index0] }}">Link</a></td>
                    <td><a href="{{ student_links[loop.index0] }}">Link</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
    <h1>The divisions you are signed up for:</h1>
        <table id="show_divisions_participating_table">
            <tr>
                <th>Name</th>
            </tr>
            {%  for division in divisions_participating %}
                <tr>
                    <td>{{ division.name }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
