<!--
FILE NAME: pig/templates/show_divisions.html
WRITTEN BY: Marius Aarsnes
WHEN: February 2017
PURPOSE: Provide a page where users can view all the divisions they are signed up for.
-->
{% extends "template.html" %}
{% block content %}

<div class="mdl-card showdivisions mdl-cell mdl-cell--6-col mdl-shadow--6dp">
    <div class="mdl-card__title showdivisions mdl-color--primary mdl-color-text--white" id="showdivisions">
        <h2 class="mdl-card__title-text">Your Divisions</h2>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text mdl-cell card-align">
        <div>
            {% for group in groups %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, group.users.all()|length) %}
                            <tr>
                                <td>{{ group.users[i].firstname }} {{ group.users[i].lastname }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block bottom %}
{% endblock %}