<!DOCTYPE html>

<!--
FILE NAME: pig/templates/template.html
WRITTEN BY: Daniel Romanich, Marius Aarsnes
WHEN: February 22017
PURPOSE: Provide a template for all the pages. Also provide links to all the pages.
-->
<head>
    {% block head %}
        <title>PIG-Partition Into Groups</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/material.min.css') }}"><!--href="https://code.getmdl.io/1.3.0/material.teal-blue.min.css" />-->
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/styles.css') }}">
        <link rel='stylesheet prefetch' href='https://rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>

<body>
    <!-- Uses a transparent header that draws on top of the layout's background -->


    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent fifty-transparent">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PIG</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    {% if user.is_authenticated %}
                        <a class="mdl-navigation__link" href="{{ url_for('home') }}"><b>Home</b></a>
                        <a class="mdl-navigation__link" href="{{ url_for('create_division') }}"><b>Create Division</b></a>
                        <div class="dropdown-box">
                            <button class="dropdown-button" disabled><b>My content</b></button>
                            <div class="dropdown-content">
                                <a class="dropdown-link" href="{{ url_for('show_divisions') }}"><b>My divisions</b></a>
                                <a class="dropdown-link" href="{{ url_for('show_groups_leader') }}"><b>My groups</b></a>
                            </div>
                        </div>
                        <a class="mdl-navigation__link" href="{{ url_for('logout') }}"><b>Logout</b></a>
                        <a class="mdl-navigation__link" href=""> User: {{ user.full_name }}</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="{{ url_for('home') }}"><b>Home</b></a>
                        <a class="mdl-navigation__link" href="{{ url_for('login') }}"><b>Login</b></a>
                        <a class="mdl-navigation__link" href="{{ url_for('register') }}"><b>Register</b></a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">

            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                {% if user.is_authenticated %}
                <a class="mdl-navigation__link" href="{{ url_for('home') }}"><b>Home</b></a>
                <a class="mdl-navigation__link" href="{{ url_for('create_division') }}"><b>Create Division</b></a>
                <a class="mdl-navigation__link"><b>My content</b></a>
                <a class="mdl-navigation__link" href="{{ url_for('logout') }}"><b>Logout</b></a>
                <a class="mdl-navigation__link" href=""> User: {{ user.full_name }}</a>          
                {% else %}
                <a class="mdl-navigation__link" href="{{ url_for('home') }}"><b>Home</b></a>
                <a class="mdl-navigation__link" href="{{ url_for('login') }}"><b>Login</b></a>
                <a class="mdl-navigation__link" href="{{ url_for('register') }}"><b>Register</b></a>
                {% endif %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="demo-blog__posts mdl-grid">



                {% block content %}{% endblock %}


            </div>

        </main>

    </div>










</body>