language: python
sudo: required
python:
  - "3.6"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: python3 pig_tests.py --cov-report

after_success: coveralls
