{% extends "layout.html" %}
{% block title %}Ledige konserter{% endblock %}
{% block content %}
  <h1>Ledige konserter</h1>
  {% if entries %}
    {% for entry in entries %}
      <div class="card">
        <div class="left_info">
          Artist: {{ entry[16] }} <br>
          Scene: {{ entry[28] }} <br>
          Dato: {{ entry[12] }} <br>
          Start: {{ entry[10] }} <br>
          Slutt: {{ entry[11] }} <br>
          Billettpris: {{ entry[4] }}
        </div>
        <div class="right_info">
          <form action="/take_concert" method="post">
            <input type="hidden" value="{{ entry[0] }}" name="concert_id">
            <input type="submit" value="Jeg vil være arrangør for denne konserten">
          </form>
        </div>
      </div>
      <script type="text/javascript">
        function add_user(name, concert_id) {
          techs = document.getElementById("techs" + concert_id);
          users = document.getElementById("users" + concert_id);
          techs.innerHTML += name.value + ", ";
          users.value = techs.innerHTML;
          value = name.selectedIndex;
          name.removeChild(name[value]);
          name.selectedIndex = 0;
        }
      </script>
    {% endfor %}
  {% else %}
    <p>Det er ingen ledige konserter.</p>
  {% endif %}
{% endblock %}
