{% extends "layout.html" %}
{% block title %}Hovedmeny{% endblock %}
{% block content %}
  <img id='logo' src="{{ url_for('static', filename='samfundet_large.png') }}" alt="logo">
  <table id="menu">
    {% for role, content in sites.items() %}
      <tr>
        <th>{{ role }}</th>
      </tr>
      {% for batch in content.items() | batch(4) %}
        <tr>
          {% for site, route in batch %}
            <td><a href={{ route }}>
              <p>
                {{ site }}
              </p>
            </a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endblock %}
