{% extends "layout.html" %}
{% block title %}Oversikt over tilbud{% endblock %}
{% block content %}
  <h1>Oversikt over tilbud</h1>
  {% if rows %}
    <table>
      <tr>
        <th>Band</th>
        <th>E-post</th>
        <th>Tlf</th>
        <th>Scene</th>
        <th>Dato</th>
        <th>Start</th>
        <th>Slutt</th>
        <th>Pris</th>
        <th>Status</th>
      </tr>
      {% for row in rows %}
        <tr>
          <td>{{ row[9] }}</td>
          <td>{{ row[13] }}</td>
          <td>{{ row[14] }}</td>
          <td>{{ row[21] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[11] }}</td>
          {% if row[7] == "pending" %}
            <td>Sendt til bookingsjef</td>
          {% elif row[7] == "declined" %}
            <td>Ikke godkjent</td>
          {% elif row[7] == "accepted" %}
            <td>Sendt til manager</td>
          {% elif row[7] == "confirmed" %}
            <td>Godkjent av manager</td>
          {% elif row[7] == "approved" %}
            <td>Sendt til bookingansvarlig</td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Ingen tilbud har blitt godkjent.</p>
  {% endif %}
{% endblock %}