{% extends "index.html" %}
{% block title %}Registrering{% endblock %}
{% block content %}
  <p class="error">{{ error }}</p>
  <div class="card card_login">
    <h1>Registrering</h1>
    <form action="login" class="flip_form">
      <input class="flip_button" type="submit" value="Tilbake til innlogging">
    </form>
    <form action="/registration_handler" method="post" class="form_index">
      <label><b>Brukernavn</b></label>
      <input type="text" name="username" id='username' placeholder="Ditt unike brukernavn" required><br>
      <label><b>Passord</b></label>
      <input type="password" name="password" id="password" placeholder="Ditt unike passord" required><br>
      <label for="roles"><b>Rolle</b></label>
      <select name="roles" id="roles">
        <option value="booker">Bookingansvarlig</option>
        <option value="chief">Bookingsjef</option>
        <option value="organizer">Arrangør</option>
        <option value="manager">Manager</option>
        <option value="technician">Tekniker</option>
      </select>
      <input type="submit" value="Lag bruker">
    </form>
  </div>
{% endblock %}
