{% extends "index.html" %}
{% block title %}Innlogging{% endblock %}
{% block content %}
  <p class="error">{{ error }}</p>
  <div class="card card_login">
    <h1>Innlogging</h1>
    <form action="register" class="flip_form">
      <input class="flip_button" type="submit" value="Registerer ny bruker">
    </form>
    <form action="/login" method="post" class="form_index">
      <label><b>Brukernavn</b></label>
      <input type="text" placeholder="Skriv inn brukernavn" name="username" required>
      <label><b>Passord</b></label>
      <input type="password" placeholder="Skriv inn passord" name="password" required>
      <input type="submit" value="Logg inn">
    </form>
  </div>
{% endblock %}
