{% extends "layout.html" %}
{% block title %}Registrer band{% endblock %}
{% block content %}
  <script>
    var manager = 0;
  </script>
  <h1>Registrer et nytt band</h1>
  <p>{{ error }}</p>
  <form action="/band_handler" method="post" id="register_band">
    <fieldset>
      <legend>Bandinformasjon</legend>

      <label for="bandname">Bandnavn</label>
      <input type="text" name="bandname" id="bandname" required>

      <label for="tlf">Telefon</label>
      <input type="number" name="tlf" id="tlf" max="99999999" required>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>

      {% if role != 'manager' %}
        <script>
          var manager = 1;
        </script>
        <label for="manager">Manager</label>
        <select name="manager" id="manager" onChange="select('m');" required>
          <option selected="true" disabled>Velg manager</option>
          {% for id, username in managers %}
            <option value={{ id }}>{{ username }}</option>
          {% endfor %}
        </select>
      {% endif %}

      <label for="genre">Sjanger</label>
      <select name="genre" id="genre" onChange="select('g');" required>
        <option selected="true" disabled>Velg genre</option>
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Rap">Rap</option>
        <option value="Techno">Techno</option>
        <option value="Metal">Metal</option>
        <option value="Folk">Folk</option>
        <option value="Jazz">Jazz</option>
        <option value="Country">Country</option>
      </select>

      <label for="reqs">Tekniske behov</label>
      <textarea name="reqs" id="reqs" rows="6" cols="52"></textarea>

      <label for="price">Pris for booking</label>
      <input type="number" name="price" value="" min="0" max="1000000" required>

      <input id="submit" disabled type="submit" value="Registrer band">
    </fieldset>
  </form>
  <script>
    var m = g = 0;
    function select(d) {
      if (d == "m") {
        m = 1;
      }
      else if (d == "g") {
        g = 1;
      }
      if ((manager && (g == 1 && m == 1)) || (!manager && (g == 1))) {
        document.getElementById("submit").disabled = false;
      }
    }
  </script>
{% endblock %}