{% extends "layout.html" %}
{% block title %}Band etter scene{% endblock %}
{% block content %}
  <h1>Band etter scene</h1>
  <form action="/get_bands_by_parameter" method="post">
    <select name="parameter" id="scene_dropdown" onChange="get_bands.disabled=false">
      <option selected disabled>Velg scene</option>
      {% for entry in entries %}
        <option value="{{ entry[0] }}"> {{ entry[1] }} </option>
      {% endfor %}
    </select>
    <button type="submit" disabled name="get_bands" value="update">Hent band</button>
  </form>
  {% if retrieved %}
    <h2>{{ venue }}</h2>
    {% if bands_by_venue %}
      <table>
        <tr>
          <th>Band</th>
          <th>Dato</th>
          <th>Konsertstart</th>
          <th>Billetpris</th>
          <th>Publikumstall</th>
        </tr>
        {% for band in bands_by_venue %}
          <tr>
            <td><a href="band_info?band={{ band[0] }}">{{ band[1] }}</a></td>
            <td>{{ band[5] }} </td>
            <td>{{ band[4] }}</td>
            <td>{{ band[2] }},-</td>
            <td>{{ band[3] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Det er ingen band som har spilt på {{ venue }} før.</p>
    {% endif %}
  {% endif %}
{% endblock %}