{% extends "layout.html" %}
{% block title %}Konserter etter sjanger{% endblock %}
{% block content %}
  <p> {{ error }}</p>
  <h1>Konserter etter sjanger</h1>
  <form action="/get_concert_by_parameter" method="POST" id="genre_selection">
    <select name="parameter" id="band" onChange="submit.disabled=false">
      <option disabled selected>Velg sjanger</option>
      {% for genre in genres %}
        <option value={{ genre[0] }}>{{ genre[0] }}</option>
      {% endfor %}
    </select>
    <button type="submit" name="submit" disabled value="Se konserter">Se konserter</button>
  </form>
  {% if retrieved %}
    <h2>Fullførte konserter</h2>
    {% if concert_finished %}
      <table name="genre_table" id="dropdown-content">
        <tr>
          <th>Scene</th>
          <th>Tilskuerkapasitet</th>
          <th>Artist</th>
          <th>Pris</th>
          <th>Starttid</th>
          <th>Slutttid</th>
          <th>Dato</th>
          <th>Billettpris</th>
          <th>Billetter solgt</th>
        </tr>

        {% for concert in concert_finished %}
          <tr>
            <td>{{ concert[0] }}</td>
            <td>{{ concert[1] }}</td>
            <td>{{ concert[2] }}</td>
            <td>{{ concert[3] }}</td>
            <td>{{ concert[4] }}</td>
            <td>{{ concert[5] }}</td>
            <td>{{ concert[6] }}</td>
            <td>{{ concert[7] }}</td>
            <td>{{ concert[8] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Ingen fullførte konserter funnet under sjangeren.</p>
    {% endif %}
    <br>
    <h2>Planlagte konserter</h2>
    {% if concert_unfinished %}
      <table name="genre_table" id="dropdown-content">
        <tr>
          <th>Scene</th>
          <th>Tilskuerkapasitet</th>
          <th>Artist</th>
          <th>Pris</th>
          <th>Starttid</th>
          <th>Slutttid</th>
          <th>Dato</th>
        </tr>
        {% for concert in concert_unfinished %}
          <tr>
            <td>{{ concert[0] }}</td>
            <td>{{ concert[1] }}</td>
            <td>{{ concert[2] }}</td>
            <td>{{ concert[3] }}</td>
            <td>{{ concert[4] }}</td>
            <td>{{ concert[5] }}</td>
            <td>{{ concert[6] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Ingen fullførte konserter funnet under sjangeren.</p>
    {% endif %}
  {% endif %}
{% endblock %}
