{% extends "layout.html" %}
{% block title %}Lag tilbud{% endblock %}
{% block content %}
  <h1>Lag tilbud</h1>
  <form action="/post_handler" method="post" id="form_booking">
    <fieldset>
      <legend>Bandinformasjon</legend>
      <label for="name">Band</label>
      <select name="name" id="name" onChange="val();" required>
        <option value="-1" selected disabled>Velg band</option>
        {% for band in bands %}
          <option value={{ band[0] }}>{{ band[1] }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <legend>Tid og sted</legend>
      <label for="start_booking">Startklokkeslett</label>
      <input type="time" id="start_booking" name="start_booking" onChange="validate(start_booking.value, end_booking.value);" required>

      <label for="end_booking">Sluttklokkeslett</label>
      <input type="time" id="end_booking" name="end_booking" onChange="validate(start_booking.value, end_booking.value);" required>

      <p id="time_error"></p>

      <label for="start_date">Dato</label>
      <input type="date" id="start_date" name="start_date" min="{{ today }}" required>

      <label for="venues">Scene</label>
      <select name="venues" id="venues" onChange="val();" required>
        <option value="-1" selected disabled>Velg scene</option>
        {% for entry in entries %}
          <option value={{ entry[0] }}>{{ entry[1] }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <legend>Ytterligere informasjon</legend>
      <label for="comment">Kommentar</label>
      <textarea name="comment" id="comment" placeholder="Skriv informasjon til bookingsjef her..." rows="6"
                cols="52"></textarea>
    </fieldset>
    {% if bands %}
      <input type="submit" id="submit" disabled value="Send tilbud">
    {% else %}
      <input type="submit" id="submit" value="Ingen band er registrert i databasen." disabled>
    {% endif %}
  </form>
  <script>
    var time_ok = false;

    function val() {
      if (document.getElementById("name").value != -1 && venues.value != -1 && time_ok != false) {
        document.getElementById("submit").disabled = false;
      }
    }

    function validate(start, end){
      if(start >= end){
        time_ok = false;
        if (end_booking.value.length > 3) {
          document.getElementById("time_error").innerHTML = "<center>Konserten kan ikke starte etter den er ferdig!</center>";
        }
      }
      else{
        time_ok = true;
        document.getElementById("time_error").innerHTML = "";
      }
    }
  </script>
{% endblock %}
