html {
    background-color:#444444;
}

.mdl-layout__header-row {
    padding: 0 40px 0 40px !important;
}

.mdl-layout__header, .mdl-layout__drawer-button {
    background-color: rgba(94, 73, 121, 1) !important;
    color: white;
}
.demo-layout-transparent,
.demo-layout-transparent .mdl-layout__drawer-button {
  background-color: #CCCCCC;
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */show_divisions_created_table
  color: white;
}

.mdl-data-table {
    background-color: #E5E5E5;
}

.mdl-card {
    background-color: #DDDDDD !important;
}


#table-header:hover > [id^="table-caret"] {
    color: #AAAAAA;
}

.half-width {
    width: 47.5%;
}

.right-float {
    float: right;
}

.font-size-twenty {
    font-size: 18px !important;
}

.full-width {
    width: 98% !important;
    max-width: 98%;
}

.max-width {
    width: 100% !important;
    max-width: 100% !important;
}

.fixed-table {
    table-layout: fixed;
}

.twenty-seven-width {
    width: 27% !important;
    max-width: 27% !important;
}

.thirty-three-width {
    width: 33.3% !important;
    max-width: 33.3% !important;
}
.twenty-width {
    width: 20% !important;
    max-width: 20% !important;
}
.fourty-width {
    width: 40% !important;
    max-width: 40% !important;
}

.margin-fix {
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button_style {
    font-size: 14px !important;
    text-align: none !important;
    text-transform: none;
    line-height: 0 !important;
    margin: 0 !important;
    padding-left: 2.5%;
    padding-right: 2.5%;
    max-width: 85%;
    max-height: 80%;
}

    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

    body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/bg_1024.jpg');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('images/bg_2048.jpg');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('images/bg_2880.jpg');
  }
}

.card-align {
    bottom: 0px !important;

}

body .demo-layout-transparent {
  font-family: "Trebuchet MS", 'Helvetica', sans-serif;
}
.fifty-transparent {
      /*background: rgba(22, 22, 22, 1);
     /*background: rgba(0, 0, 0, 0.8);
     background: rgba(0, 0, 0, 1);*/
}
.demo-layout-transparent .demo-blog__posts {
  max-width: 900px;
    align-content: center;
    align-self: center;
    align-items: center;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-layout-transparent.mdl-layout .mdl-layout__content {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.demo-layout-transparent .mdl-card {
    background-color: #CCCCCC;
  display: -webkit-flex;
    align-content: center;
    align-items: center;
    align-self: center;
    min-width: 200px;
    margin: auto;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

  min-height: 360px;
    margin-top: 25px;
}
.demo-layout-transparent .mdl-card__title {
  padding: 16px;
    min-height: 100px;
    max-height: 100px;


  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#showdivisions    {
  padding: 16px;
    min-height: 100px;
    max-height: 100px;


  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout-transparent .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.demo-layout-transparent .mdl-card__media a,
.demo-layout-transparent .mdl-card__title a {
  color: inherit;
}
.demo-layout-transparent .mdl-card__supporting-text {
  width: 100%;
  min-height: 64px;
<<<<<<< HEAD
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#table {
  width: 100%;
  min-height: 64px;
 padding: 0px;
=======
  align: center;
>>>>>>> 5f74e55912356b9071f3870a18797f67e75d43ab
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.demo-layout-transparent .mdl-card__supporting-text strong {
  font-weight: 400;
}
.demo-layout-transparent .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.demo-layout-transparent .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
}
.demo-layout-transparent:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.demo-layout-transparent .mdl-card__actions:first-child {
  margin-left: 0;
}

.demo-layout-transparent .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.demo-layout-transparent .mdl-card h3 {
  margin: 0;
}
.demo-layout-transparent .mdl-card h3 a {
  text-decoration: none;
}
.demo-layout-transparent .mdl-card h3.quote:before, .demo-layout-transparent .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}

#division-form {
    margin: 2.5% 2.5% 2.5% 2.5%;
    width: 100%;
    border-radius: 5px;
}
#showgroupsleader_no_divisions h3 {
    margin: 0 auto;
}


input[id=create_division] {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
}
input[id=parameter] {
    width: 80%;
    padding: 8px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
#remove_button {
    cursor: pointer;
    width: 10%;
    max-width: 40px;
    margin: -2% 5%;
}

.undecorated-link {
    text-decoration: none;
}

.table-line-break {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 0;
}

/* Dropdown Button */
.dropdown-button {
    font-weight: bold;
    text-transform: none;
    background-color: Transparent;
    color: #FFFFFF;
    font-family: "Trebuchet MS", 'Helvetica', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-box {
    display: flex;
    float: none;
    position: relative;
    min-height: 100%;
    height: 100%;
    max-width: 100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    line-height: 1.5;
    display: none;
    color: white;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropdown-link {
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-link:hover {
    background-color: rgba(170, 170, 170, 0.5);
}

/* Show the dropdown menu on hover */
.dropdown-box:hover .dropdown-content {
    display: block;
    top: 100%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-box:hover dropdown-button {
    background-color: #3e8e41;
}